
#about-us{
    background:#f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title{
    font-size: 30px;
    font-weight: 600;
    margin-top: 8%;
    margin-left: 11%;
}
#about-us ul li{
    margin: 10px 0;
}
#about-us ul{
    margin-left: 20px ;
}
