#footer{
    background-image: linear-gradient(to right,#a517ba, #5f1782);
    color: #fff;
}
.footer-img{
    width: 100%;
}
.footer-box{
    padding: 20px;
}
.footer-info{
    padding:20px;
}
.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}
.footer-info  i{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right,#a517ba, #5f1782);
}
.footer-box .form-control{
    box-shadow: none  !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary{
    box-shadow:none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right,#a517ba, #5f1782);
}
hr{
    background-color: #fff;
}
.copyright{
    margin-bottom: 0;
    padding-bottom: 20px;
}
.copyright a{
    text-decoration: none;
    color: #fff;
}
.copyright a:hover{
    color: #d8dce0;
}